<div id="header-bar">
  <div id="header-bar1">
  </div>
  <div id="header-bar2">
    SujaeLee's Portfoliio Website
  </div>
</div>

<div id="left-column">
  <div id="profile">
    <img src="http://i58.tinypic.com/28l7714.jpg">
    <span>Sujae Lee</span>
  </div>
  <ul id="menus">
    <li><a href="/who">Who I am</a></li>
    <li><a href="/skills">Skills</a></li>
    <li><a href="/courses">Courses</a></li>
    <li><a href="/contact">Contact</a></li>
  </ul>
</div>
<div id="main">
  <div id="whoiam">
    <div class="whitecard">
    <h1>
      Skills
    </h1>
    These are skills I'm good at, or I want to be good at.
    <div id="interests_wrapper">
      <% 3.times do %>
      <div class="interests_card">
        <img src="http://www.myfico.com/Images/sample_overlay.gif">
        <div class="interests_name">
        </div>
      </div>
      <% end %>
      </div>
    </div>

  </div>
  <div id="courses">
    
  </div>
  <div id="contact">
    
  </div>
</div>